node_modules
**/node_modules
.git
.gitignore
dist
**/dist
.next
**/.next
.turbo
**/.turbo
coverage
**/coverage

.env
.env.*
!.env.example
*.env.local

docker-data
temporal-db
.DS_Store
*.log
pnpm-debug.log*
npm-debug.log*