node_modules/
dist/
.next/
.turbo/
coverage/
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/dev.db*

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporal
 temporal-db/

# Docker
docker-data/
